<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" 
>
    
    <context:component-scan base-package="concursantes"/>
    
    <!--
    <bean id="solei" class="concursantes.Malabarista">
        <constructor-arg value="10" />
    </bean>
    
    <bean id="sonetoSorJuana" class="concursantes.Soneto"/>
    <bean id="soleiRecitador" class="concursantes.MalabaristaRecitador">
        <constructor-arg value="15"/> 
        <constructor-arg ref="sonetoSorJuana"/>
    </bean>
    
    <bean id="piano" class="concursantes.Piano">
    </bean>
    <bean id="jasonPiano" class="concursantes.Musico">
        <property name="instrumento" ref="piano"/>
        <property name="cancion" value="Noche de Paz"/>
    </bean>-->
    
    <bean id="jasonSax" class="concursantes.Musico">
        <property name="cancion" value="Equinox"/>
        <property name="instrumento">
            <bean class="concursantes.Saxofon"/>
        </property>
    </bean>
    
    
    <!--<aop:config>
        <aop:aspect ref="audiencia">
            <aop:pointcut id="show" expression="execution(* concursantes.Concursante.ejecutar(..))"/>
            <aop:before method="sentarse" pointcut-ref="show"/>
            <aop:before method="apagarCelulares" pointcut-ref="show"/>
            <aop:after-returning method="aplaudir" pointcut-ref="show"/>
            <aop:after-throwing method="devolucion" pointcut-ref="show"/>
        </aop:aspect>
    </aop:config>-->
    
    <!--<aop:config>
        <aop:aspect ref="audiencia">
            <aop:pointcut id="show" expression="execution(* concursantes.Concursante.ejecutar(..))" />
            <aop:around pointcut-ref="show" method="monitorearShow" />
        </aop:aspect>
    </aop:config>-->
    
    <aop:aspectj-autoproxy/>
    
</beans>
