<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<!-- 	<h1>Hello <span th:text="${person.name}"></span>!!!</h1> -->
<!-- 	You are <span th:text="${person.age}"> years old!</span> -->
<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>AGE</th>
		</tr>
	</thead>
	<!-- Por cada person del listado people -->
	<tbody th:each="person:${people}">
		<th th:text="${person.name}"></th>
		<th th:text="${person.age}"></th>
	</tbody>
</table>
</body>
</html>